subflow.json
[
  {
    "id": "b763e7488afdf16e",
    "type": "subflow",
    "name": "zigbee2tasmota",
    "info": "",
    "category": "",
    "in": [],
    "out": [
      {
        "x": 690,
        "y": 140,
        "wires": [
          {
            "id": "6c01d1b2f576cdd9",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "name",
        "type": "str",
        "value": ""
      }
    ],
    "meta": {},
    "color": "#DDAA99"
  },
  {
    "id": "9275534a086c5c21",
    "type": "mqtt in",
    "z": "b763e7488afdf16e",
    "name": "",
    "topic": "tele/zigbee-bridge/SENSOR",
    "qos": "2",
    "datatype": "json",
    "broker": "78c65a9f.5234d4",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 240,
    "y": 140,
    "wires": [["6c01d1b2f576cdd9"]]
  },
  {
    "id": "6c01d1b2f576cdd9",
    "type": "function",
    "z": "b763e7488afdf16e",
    "name": "filterForFriendlyName",
    "func": "const data = Object.values(msg.payload.ZbReceived).find(data => {\n    return data.Name === env.get(\"name\")\n})\n\nif(data) {\n msg.payload = data\n return msg;    \n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "78c65a9f.5234d4",
    "type": "mqtt-broker",
    "name": "odroid-mqtt-broker",
    "broker": "192.168.1.114",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "ff9b25b67ca95e0c",
    "type": "subflow",
    "name": "4Way Switch [TS004F]",
    "info": "",
    "category": "input",
    "in": [],
    "out": [
      {
        "x": 1000,
        "y": 100,
        "wires": [
          {
            "id": "ce728b638ad7b1d2",
            "port": "2"
          }
        ]
      },
      {
        "x": 1000,
        "y": 180,
        "wires": [
          {
            "id": "ce728b638ad7b1d2",
            "port": 0
          }
        ]
      },
      {
        "x": 1000,
        "y": 260,
        "wires": [
          {
            "id": "ce728b638ad7b1d2",
            "port": 3
          }
        ]
      },
      {
        "x": 1000,
        "y": 340,
        "wires": [
          {
            "id": "ce728b638ad7b1d2",
            "port": 1
          }
        ]
      },
      {
        "x": 1210,
        "y": 360,
        "wires": [
          {
            "id": "e7609cb199f6baf7",
            "port": 0
          }
        ]
      },
      {
        "x": 1250,
        "y": 420,
        "wires": [
          {
            "id": "499a90c2fe675477",
            "port": 0
          }
        ]
      },
      {
        "x": 1380,
        "y": 500,
        "wires": [
          {
            "id": "dea78407ceef5386",
            "port": 0
          }
        ]
      },
      {
        "x": 1380,
        "y": 560,
        "wires": [
          {
            "id": "dea78407ceef5386",
            "port": 1
          }
        ]
      },
      {
        "x": 1190,
        "y": 660,
        "wires": [
          {
            "id": "780fc5fe637bef85",
            "port": 0
          }
        ]
      }
    ],
    "env": [
      {
        "name": "name",
        "type": "str",
        "value": ""
      }
    ],
    "meta": {},
    "color": "#D8BFD8",
    "outputLabels": [
      "button1",
      "button2",
      "button3",
      "button4",
      "button2 hold",
      "button4 hold",
      "button2 release",
      "button4 release",
      "debug"
    ],
    "icon": "node-red-dashboard/ui_button.png"
  },
  {
    "id": "780fc5fe637bef85",
    "type": "subflow:b763e7488afdf16e",
    "z": "ff9b25b67ca95e0c",
    "name": "",
    "env": [
      {
        "name": "name",
        "value": "name",
        "type": "env"
      }
    ],
    "x": 380,
    "y": 380,
    "wires": [["ce728b638ad7b1d2"]]
  },
  {
    "id": "ce728b638ad7b1d2",
    "type": "switch",
    "z": "ff9b25b67ca95e0c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "DimmerStepUp",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "DimmerStepDown",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "0006!01",
        "vt": "str"
      },
      {
        "t": "hask",
        "v": "0006!00",
        "vt": "str"
      },
      {
        "t": "jsonata_exp",
        "v": "payload.DimmerMove = 0",
        "vt": "jsonata"
      },
      {
        "t": "jsonata_exp",
        "v": "payload.DimmerMove = 1",
        "vt": "jsonata"
      },
      {
        "t": "hask",
        "v": "DimmerStop",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 7,
    "x": 610,
    "y": 380,
    "wires": [
      [],
      [],
      [],
      [],
      ["e7609cb199f6baf7"],
      ["499a90c2fe675477"],
      ["0ceb16dda3bde084"]
    ]
  },
  {
    "id": "dea78407ceef5386",
    "type": "switch",
    "z": "ff9b25b67ca95e0c",
    "name": "",
    "property": "payload.button",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "4",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1230,
    "y": 540,
    "wires": [[], []]
  },
  {
    "id": "fab3600b8812efa2",
    "type": "join",
    "z": "ff9b25b67ca95e0c",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1070,
    "y": 460,
    "wires": [["dea78407ceef5386"]]
  },
  {
    "id": "e7609cb199f6baf7",
    "type": "change",
    "z": "ff9b25b67ca95e0c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "2",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "button",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 380,
    "wires": [["fab3600b8812efa2"]]
  },
  {
    "id": "499a90c2fe675477",
    "type": "change",
    "z": "ff9b25b67ca95e0c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "4",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "button",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 420,
    "wires": [["fab3600b8812efa2"]]
  },
  {
    "id": "0ceb16dda3bde084",
    "type": "change",
    "z": "ff9b25b67ca95e0c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "release",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 460,
    "wires": [["fab3600b8812efa2"]]
  },
  {
    "id": "40f17f264ae8e7dd",
    "type": "subflow:ff9b25b67ca95e0c",
    "z": "af2bdd7b.ecdb5",
    "name": "",
    "env": [
      {
        "name": "name",
        "value": "4way-switch-livingroom",
        "type": "str"
      }
    ],
    "x": 200,
    "y": 1160,
    "wires": [
      ["f1ef1b2637252394"],
      ["1410c49a4c5918f6"],
      ["78a16876a47e1ed7"],
      ["a49130518e7a1e0c"],
      ["81bb2ccea32da43a"],
      ["1d65c2a1322c6225"],
      ["467c1c38564f4373"],
      ["3042fdafdc66b846"],
      ["f505dc0c6e66e845"]
    ]
  }
]
